/* Tablet Pro */

@media (min-width: 1024px) and (max-width: 1239px) {
    .all {
        text-align: unset;
    }
    .sort-item-sub-select {
        text-align: left;
    }
    .sort-item-sub {
        justify-content: center;
        align-items: center;
    }
}


/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {}


/* Tablet va mobile */

@media (max-width: 1023px) {
    .sort {
        display: unset;
        border: unset;
    }
    .sort-item {
        display: unset;
    }
    .sort-item-sub {
        justify-content: space-between;
        margin-top: 12px;
        margin-bottom: 16px;
        border: 1px solid;
    }
    .sort-item-sub-select {
        text-align: left;
        padding: 12px 0;
    }
    .sort-item-sub:nth-child(3) {
        border: 1px solid;
    }
    select {
        min-height: 30px;
        min-width: 100px;
    }
    .sort-item-tablet {
        display: flex;
    }
}


/* MOBILE */

@media (max-width: 739px) {
    .banner-hilight {
        font-size: 30px;
    }
    .container-content-text-sub-1 a {
        font-size: 20px;
    }
    .container-content-text-sub {
        font-size: 11px;
    }
    .container-2-img-text a {
        margin-left: 12px;
    }
    .content-relave-to span {
        font-size: 15px;
    }
    .container-content-ul {
        margin-top: 12px;
    }
    .container-2-img-text {
        font-size: 14px;
    }
    .footer-social h3 {
        font-size: 17px;
    }
    .footer-social-text-sub {
        font-size: 12px;
    }
    .copyright h3 {
        font-size: 17px;
    }
    .container-1-text {
        font-size: 17px;
    }
    .mobile-display-flex {
        padding: 16px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-2-img {
        width: 40%;
    }
    .play {
        left: 18%;
    }
    .container-2-img-1 {
        width: 60%;
    }
}